<!DOCTYPE html>

<head>
    <title>ADL Official Support Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="../assets/styles/article.css" rel="stylesheet">
</head>

<body>
    <div class="discover lato">
        <div class="dropdown dropdown-right topbtn"><a class="btn btn-link dropdown-toggle topbtn" tabindex="0"><i class="icon icon-apps nomobile"></i> Discover <i class="icon icon-caret"></i></a>
            <ul class="menu">
                <li class="menu-item"><a href="./">Homepage</a></li>
                <li class="menu-item"><a href="https://github.com/hifocus/adl">ADL on GitHub</a></li>
                <li class="menu-item"><a href="https://www.justhx.com">Huangxin's Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="headline lf lato">
        <p class="title">How to Use ADL</p>
        <p>This is the first line of the article. Below is a long paragraph.</p>
        <p>This is the second line.</p>
        <p>In this exercise, the idea is to write a paragraph that would be a random passage from a story. An effective paragraph is one that has unity (it isn’t a hodgepodge of things), focus (everything in the paragraph stacks up to the whatever-it-is the paragraph is about), and coherence (the content follows smoothly). For this exercise, the paragraph should be quick to read--say, not be more than 100 words long.

            A paragraph needn’t be several sentences long, but might be only a sentence or two, or a single line of dialogue.
            
            Or it could be a snippet of dialogue with narration:
            
            She made an attempt to straighten her tawny hair. Her voice quavered with emotion. “You must be a very lonely man, Judge Seagrave.” Then she turned a gaze on him that might have ignited a rain-sodden haystack. “And I’m a lonely woman.”
            
            It might be merely descriptive:
            
            Lines of weeds criss-crossed the cracked parking lot of the Seashell Motor Courts. The flaking paint on the buildings had chalked to a pastel pink on walls covered with graffiti. Many of the windows had been smashed out. Where the sign had been, atop rusting steel posts, only the metal outline of a seashell remained.
            
            It might have action but no dialogue:
            
            It was Ms. Fitzhugh. She was walking fast. A strange expression crossed the faces of the students as they glanced toward the door and saw the principal go straight into the boys’ restroom. The footsteps stopped. There was a deep, throaty sound difficult to describe. Then came an eruption of shrill screaming and a rapid sound of heels. Moments later, Ms. Fitzhugh emerged, her eyes wild. Screaming, she skidded in the hall and headed toward the office.
            
</p>
            <p>In this exercise, the idea is to write a paragraph that would be a random passage from a story. An effective paragraph is one that has unity (it isn’t a hodgepodge of things), focus (everything in the paragraph stacks up to the whatever-it-is the paragraph is about), and coherence (the content follows smoothly). For this exercise, the paragraph should be quick to read--say, not be more than 100 words long.

                A paragraph needn’t be several sentences long, but might be only a sentence or two, or a single line of dialogue.
                
                Or it could be a snippet of dialogue with narration:
                
                She made an attempt to straighten her tawny hair. Her voice quavered with emotion. “You must be a very lonely man, Judge Seagrave.” Then she turned a gaze on him that might have ignited a rain-sodden haystack. “And I’m a lonely woman.”
                
                It might be merely descriptive:
                
                Lines of weeds criss-crossed the cracked parking lot of the Seashell Motor Courts. The flaking paint on the buildings had chalked to a pastel pink on walls covered with graffiti. Many of the windows had been smashed out. Where the sign had been, atop rusting steel posts, only the metal outline of a seashell remained.
                
                It might have action but no dialogue:
                
                It was Ms. Fitzhugh. She was walking fast. A strange expression crossed the faces of the students as they glanced toward the door and saw the principal go straight into the boys’ restroom. The footsteps stopped. There was a deep, throaty sound difficult to describe. Then came an eruption of shrill screaming and a rapid sound of heels. Moments later, Ms. Fitzhugh emerged, her eyes wild. Screaming, she skidded in the hall and headed toward the office.
                
</p>

                <p>In this exercise, the idea is to write a paragraph that would be a random passage from a story. An effective paragraph is one that has unity (it isn’t a hodgepodge of things), focus (everything in the paragraph stacks up to the whatever-it-is the paragraph is about), and coherence (the content follows smoothly). For this exercise, the paragraph should be quick to read--say, not be more than 100 words long.

                    A paragraph needn’t be several sentences long, but might be only a sentence or two, or a single line of dialogue.
                    
                    Or it could be a snippet of dialogue with narration:
                    
                    She made an attempt to straighten her tawny hair. Her voice quavered with emotion. “You must be a very lonely man, Judge Seagrave.” Then she turned a gaze on him that might have ignited a rain-sodden haystack. “And I’m a lonely woman.”
                    
                    It might be merely descriptive:
                    
                    Lines of weeds criss-crossed the cracked parking lot of the Seashell Motor Courts. The flaking paint on the buildings had chalked to a pastel pink on walls covered with graffiti. Many of the windows had been smashed out. Where the sign had been, atop rusting steel posts, only the metal outline of a seashell remained.
                    
                    It might have action but no dialogue:
                    
                    It was Ms. Fitzhugh. She was walking fast. A strange expression crossed the faces of the students as they glanced toward the door and saw the principal go straight into the boys’ restroom. The footsteps stopped. There was a deep, throaty sound difficult to describe. Then came an eruption of shrill screaming and a rapid sound of heels. Moments later, Ms. Fitzhugh emerged, her eyes wild. Screaming, she skidded in the hall and headed toward the office.
                    
</p>
        


    </div>
</body>

<footer>
    <div class="notice md lato">
        <p>
            [Insider Version]<br>
            Open Source Project on <a class="tooltip" data-tooltip="Don't forget to ⭐ our project!" href="https://github.com/hifocus/adl">GitHub</a>
        </p>
    </div>
</footer>