title: HXCO Get

permalink: /:title

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "posts"