@import url("https://cdn.jsdelivr.net/gh/picturepan2/spectre@0.5.3/dist/spectre.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Titillium+Web");

html, body{ height: 100% }
h1, h2, h3{ font-weight: normal }

body{
    width: 100%;
    color: #555;
    display: table;
    font-weight: lighter;
    font: 18px/1.5 Titillium Web, sans-serif;
}

@media screen and (max-width: 768px){
    body{ font-size: 15px }
}

main{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

main h1{ font-size: 4em }
main h2{ font-size: 2em; margin-bottom: 2rem }
main h3{ font-size: 1.5em }

.safe{ color: green }
.appname{ color: #807fe2 }
.qrcode{ display: inline-block }

.list-container{
    margin: 0 auto;
    max-width: 800px;
}

footer{
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    position: fixed;
    text-align: center;
}
footer p{ margin: 0 }
footer .heart{
    color: red;
    font-style: normal;
}