<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/picturepan2/spectre@0.5.3/dist/spectre.min.css" integrity="sha256-eBag0DNksOEjebVrDSBxOYWaIsRA5RBzz/PWQtkgmvM=" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://s1.pstatp.com/cdn/expire-1-y/spectre.css/0.5.3/spectre.min.css" integrity="sha384-s53DFHnZPkWaUOdz9EgqTN1dHrxwWQ4abTXvrnFsloJw0Tx/ncFSUj/yazfTmf/B" crossorigin="anonymous">
    <link href="{{ "/assets/css/style.min.css" | relative_url }}" rel="preload" as="style">
    <link href="{{ "/assets/css/style.min.css" | relative_url }}" rel="stylesheet">
    <title>
        {% if page.title %}
            Get 
            {% if page.displayTitle %}
            {{ page.displayTitle }}
            {% else %}
            {{ page.title }}
            {% endif %}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
</head>