html, body{ height: 100% }
h1, h2, h3{ font-weight: normal }

body{
    width: 100%;
    color: #555;
    display: table;
    font-weight: lighter;
    font: 18px/1.5 Titillium Web, sans-serif;
}

main{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    h1{
        font-size: 4em
    }
    h2{
        font-size: 2em; margin-bottom: 2rem
    }
    h3{
        font-size: 1.5em
    }
}