html, body{ height: 100% }
h1, h2, h3{ font-weight: normal }


/* ibm-plex-sans-regular */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: regular;
    src: url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans'), local('IBMPlex Sans-Normal'),
         url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff') format('woff'), /* Modern Browsers */
         url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('//lib.baomitu.com/fonts/ibm-plex-sans/ibm-plex-sans-regular.svg#IBMPlex Sans') format('svg'); /* Legacy iOS */
  }
    

body{
    width: 100%;
    color: #555;
    display: table;
    // font-weight: lighter;
    font-family: "IBM Plex Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

main{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    h1{
        font-size: 2.6em;
        margin: 20px;
        color:#0070c9;
    }
    h2{
        font-size: 1.5em;
        // margin-bottom: 2rem
    }
    h3{
        font-size: 1em
    }
}