footer{
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    position: fixed;
    text-align: center;
    p{
        font-size: .875rem;
        margin: 0;
        font-weight: 400;
    }
}