.safe{ color: green }
.appname{ color: #e74c3c }
.qrcode{ display: inline-block }

a {
    color: hsla(206,100%,35%,1) // from docs.microsoft.com
}

a:visited {
    color: hsla(206,100%,35%,1)
}

.list-container{
    margin: 0 auto;
    max-width: 800px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}