/* 
adl.css - Author @hifocus 
https://github.com/hifocus/adl
*/

@media screen and (min-width: 769px) {
  /* Desktop end style */
  .title {
    font-size: 34px;
  }
  .box {
    line-height: 0.8;
  }
  .discover {
    left: 92.5%;
  }
  .topbtn {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* Mobile end style */
  .title {
    font-size: 29px;
  }
  .box {
    line-height: 1.2;
  }
  .discover {
    right: -10%;
  }
  .topbtn {
    font-size: 0.8rem;
  }
  .nomobile {
    display: none;
  }
}

body {
  /* Global css properties */
  white-space: nowrap;
}

.md {
  text-align: center;
}

.lato {
  font-family: "Lato", sans-serif;
}

.box, .discover, .notice {
  /* Set position at once */
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.box {
  top: 50%;
  left: 50%;
}

.discover {
  top: 5%;
}

.notice {
  top: 95%;
  left: 50%;
}

.gr {
  color: green;
}

.nftitle {
  word-break: break-all;
}