--- 
layout: default 
---
<script>
    if (/(iPhone|iPod|Android)/i.test(navigator.userAgent)) {
        window.location.href = "https://github.com/hxco/Get";
    };
</script>

<p class="normal footer">Made with
    <i class="material-icons normal heart">favorite</i>&nbsp;by&nbsp;Huangxin</a>.</p>

<div class="container">
    <div class="content">
        <div class="title">HXCO&nbsp;Get:&nbsp;Simple,&nbsp;yet Efficiency.
            <div class="type-wrap words">
                <span class="https">https:</span>//get.js.org/<span id="typed" class="result"></span>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.loli.net/ajax/libs/typed.js/2.0.7/typed.min.js"></script>
<script> window.onload = function () { var options = { strings: ["chrome", "firefox", "vscode", "steam", "anything"], typeSpeed: 60, loop: true, showCursor: false }; var typed = new Typed("#typed", options); } </script>