--- 
layout: default 
---
<script>
    if (/(iPhone|iPod|Android)/i.test(navigator.userAgent)) {
        window.location.href = "https://github.com/hxco/Get";
    };
</script>

<p class="normal footer">Made with
    <i class="material-icons normal heart">favorite</i> by Huangxin</a>.</p>

<div class="container">
    <div class="content">
        <div class="title">HXCO Get: <a href="https://github.com/hxco/Get" style="color: #0070c9">Open Source Online Service</a>
            <div class="words">
                <a class="https">https:</a>//get.js.org/<a class="result" href="apps" target="_blank">{appname}</a>
            </div>
        </div>
    </div>
</div>