--- 
layout: default 
---

<main>
    <h1>HXCO Get</h1>
    <div class="list-container">
    {% assign sortedPosts = site.posts | sort: 'title' %}
    {% for post in sortedPosts %}
        {% unless post.disableList or post.layout == 'goto' %}
        <span class="chip">
            <a target="_blank" href="{{post.url}}">
                {% if post.displayTitle %}{{ post.displayTitle }} {%else%}{{ post.title }}{% endif %}
            </a>
        </span>
        {% endunless %}
    {% endfor %}
    </div>
</main>
<footer>
    <p>Made With <i class="heart">❤</i> By Huangxin.</p>
</footer>