--- 
layout: default 
---

<main>
    <h1>Getting
        {% if page.displayTitle %}
            {{ page.displayTitle }}...
        {% else %}
            {{ page.title }}...
        {% endif %}</h1>
    <p>Your download should begin automatically.</a></p>
    <p><a href="#qrco" class="btn btn-primary">Download on 📱</a></p>
    <div class="modal" id="qrco">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" role="document">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Scan the qrcode with your 📱</div>
            </div>
            <div class="modal-body">
                <div id="currentqrcode" class="qrcode"></div>
            </div>
            <!-- <div class="modal-footer">
                <a href="#" class="btn btn-primary">×</a>
            </div> -->
        </div>
    </div>
</main>
{% include foot.html %}
{% include jqqrcode.html %}
{{content}}