--- 
layout: default 
---

<div class="footer">
    <p class="footer">Thanks&nbsp;for&nbsp;using&nbsp;
        <a href="https://github.com/hxco/Get" target="_blank">HXCO&nbsp;Get</a>.&nbsp;
        <a href="https://tech.hxco.de/announcement/hxco-get.html" target="_blank">Made&nbsp;with
            <i class="material-icons normal heart">favorite</i>&nbsp;by&nbsp;Huangxin</a>.</p>
</div>
<div class="container">
    <div class="content">
        <div class="title">Getting&nbsp;
            {% if page.displayTitle %}
                {{ page.displayTitle }}
            {% else %}
                {{ page.title }}
            {% endif %}...
        </div>
        <!-- Old browser tutorial -->
        <p class="details">Your&nbsp;download&nbsp;should&nbsp;begin&nbsp;automatically.&nbsp;If&nbsp;it&nbsp;doesn't,
            <a href="http://outdatedbrowser.com/zh-cn" target="_blank">upgrade&nbsp;your&nbsp;browser.</a>
        </p>
        <div class="details">
            <!-- QR Code Button -->
            <a href="#qrco" class="btn btn-primary">Get&nbsp;Mobile&nbsp;Apps</a>
            <div class="modal" id="qrco">
                <a href="#" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container" role="document">
                    <div class="modal-header">
                        <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                        <div class="modal-title h5">
                            <i class="material-icons">devices</i> Scan&nbsp;QR&nbsp;Code</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            <div id="currentqrcode" class="qrcode"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary">Got&nbsp;it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include jqqrcode.html %}
{{content}}